name: beta

on:
  pull_request:

permissions:
  contents: read

jobs:
  secrets_guard:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Secrets-Guard (this repo action)
        uses: ./